{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block page_title %}To Do Lists{% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
  {% block content %}

    <h1>Life Lists</h1>
    <form method="post" action="">
      {% csrf_token %} 
      {% for td in user.todolist.all %}
        <div class="input-group mb-3">
          <button
            type="submit"
            class="input-group-text trash"
            name="delete"
            value="{{td.id}}"
          >
            <i class="fa fa-trash-o" style="font-size: 15px"></i>
          </button>

          <a class="form-control" href="/{{td.id}}/">{{td.name}} </a>
        </div>

      {% endfor %}

      <input type="text" class="form-input" name="name" placeholder="List Name" />
      <button type="submit" name="create" value="create" class="btn btn-success">
        Create New
      </button>
    </form>
  {% endblock %}
</body>
</html>